.container{




    margin-bottom: 50px;

    background: rgb(63,94,251);

    background: radial-gradient(circle, rgba(63,94,251,0.0844712885154062) 0%, rgba(255,255,255,1) 100%);

 padding:20px;

}

.low{

    color:"green"

}

input {

    font-size: 16px;

    font-size: max(16px, 1em);

    font-family: inherit;

    padding: 0.5em 0.5em;

    background-color: #fff;

    border: 2px solid rgba(177, 177, 245, 0.295);

    border-radius: 4px;

  }

  select {

    width: 100%;

    padding: 16px 20px;

    border: none;

    border-radius: 4px;




  }




  input:focus {

    border: 3px solid #555;

  }

  .btn{




    background: rgb(191,34,10);

    background: linear-gradient(90deg, rgba(191,34,10,1) 35%, rgba(116,34,45,1) 82%);

  border: none;

  color: white;

  padding: 15px 32px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;

  border-radius:10px;

  margin-top:5px;

  cursor:pointer;

  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  }

  .btn:hover{

    opacity: 0.6;

    box-shadow: 6px 16px 2px 1px rgba(0, 0, 255, .2);

  }

  select option{

    padding: 50px;

  }

  label {

    color: #040549;

    font-weight: bold;

    display: block;

    font-size: 18px;

    float: left;




    }

    label:after { content: ":" }

  h4{

    text-align: center;

    color: white;

    font-size: 20px;

    text-shadow: 2px 1px 4px #000000;

  }

  .form-group{




    display: flex;

    justify-content: space-between;

    align-items: center;

  }

  .form-group div{

    display: flex;

  }

 textarea{

    padding: 10px;

    max-width: 100%;

    line-height: 1.5;

    border-radius: 5px;

    border: 1px solid #ccc;

    box-shadow: 1px 1px 1px #999;

 }