.header{
    font-size: 50px;
    padding: 21px;
    background-color: orange;
    color: white;
}
.btn{
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 50%;
    font-size: 20px;
}
#errorMessage{
    color: red;
    font-size: medium;
}
button:disabled
  {
   opacity: 0.3;
  }