<table>
    <thead>
      <tr>
        <td>Slno.</td>
        <td>ID</td>
        <td>Title</td>
        <td>Description</td>
        <td>Deadline</td>
        <td>Prority</td>
        <td>Task Taken by</td>
        <td>Status</td>    
        <td>Edit</td>
        <td>Delete</td>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{task!.id}}</td>
        <td>{{task!.id}}</td>
     <td>{{task!.title}}</td>
     <td>{{task!.description}}</td>
     <td>{{task!.dueDate}}</td>
     <ng-template [ngIf]="task!.priority==1">
        <td class="low">low</td>  
      </ng-template>
    
      <ng-template [ngIf]="task!.priority==2">
        <td class="medium"> medium</td> 
      </ng-template>
      <ng-template [ngIf]="task!.priority ==3">
        <td class="high">high</td>
      </ng-template>
     <td>{{task!.takenBy}}</td>
     <td>{{task!.status}}</td>
    

     <td><button>Edit</button></td>
     <td><button (click)="deleteTask()">Delete</button></td>
      </tr>
     
      </tbody>
  </table>