table,
th,
td {
  border: 1px solid black;
}
.high {
  background-color: red;
}
.low {
  background-color: green;
}

.medium {
  background-color: yellow;
}

.view-container{

  display: flex;

  width: 80%;

  border: 2px solid black;

  flex-direction: column;

  /* flex-wrap: nowrap; */

  align-content: stretch;

  justify-content: flex-end;

  align-items: center;

  height:20px;

}

.view-container div{

  display:flex;

  width:150px




}




input {

  text-align: center;

  font-size: 15px;

}