<div>
  <button mat-raised-button color="primary" (click)="sortPriorityAse()">Sort Priority Asc</button>
  <button type="button" (click)="sortPriorityDsc()">Sort Priority DSC</button>
  <button type="button" (click)="sortStatusAse()">Sort Status Asc</button>
  <button type="button" (click)="sortStatusDsc()">Sort Priority DSC</button>
  <button type="button" (click)="sortByDate()">Sort by date</button>
  <h1 *ngIf="tasks.length <= 0">No Tasks!</h1>
  <table  class="table">
    <thead>
      <tr>
        <td scope="col">Slno.</td>
        <td scope="col">ID</td>
        <td scope="col">Title</td>
        <td scope="col">Description</td>
        <td scope="col">Deadline</td>
        <td scope="col">Prority</td>
        <td scope="col">Task Taken by</td>
        <td scope="col">Status</td>    
        <td scope="col">Delete</td>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{task!.id}}</td>
        <td>{{task!.id}}</td>
     <td>{{task!.title}}</td>
     <td>{{task!.description}}</td>
     <td>{{task!.dueDate}}</td>
     <ng-template [ngIf]="task!.priority==1">
        <td class="low">low</td>  
      </ng-template>
    
      <ng-template [ngIf]="task!.priority==2">
        <td class="medium"> medium</td> 
      </ng-template>
      <ng-template [ngIf]="task!.priority ==3">
        <td class="high">high</td>
      </ng-template>
     <td>{{task!.takenBy}}</td>
     <td>{{task!.status}}</td>
    

     <td><button (click)="deleteTask(task)">Delete</button></td>
      </tr>  
     
    </tbody>
  </table>

  <button type="button" (click)="downloadCsv()">Download CSV</button>
</div>
