<div>
  <button type="button" (click)="sortPriorityAse()">Sort Priority Asc</button>
  <button type="button" (click)="sortPriorityDsc()">Sort Priority Desc</button>
  <button type="button" (click)="sortStatusAse()">Sort Status Asc</button>
  <button type="button" (click)="sortStatusDsc()">Sort Status Desc</button>
  <button type="button" (click)="sortByDate()">Sort by date</button>
  <h1 *ngIf="tasks.length <= 0">No Tasks!</h1>
  <div *ngFor="let task of tasks">
    <app-to-do-item [task]="task"></app-to-do-item>
  </div>

  <button type="button" (click)="downloadCsv()">Download CSV</button>
</div>
