<div class="list">
  <div class="btn1">
    <button class="sort-btn" (click)="sort_Priority_Ase()">
      Sort Priority Asc ☝🏾
    </button>
    <button class="sort-btn" (click)="sort_Priority_Dsc()">
      Sort Priority DSC 👇🏾
    </button>
    <button class="sort-btn" (click)="sort_Status_Ase()">
      Sort Status Asc ☝🏾
    </button>
    <button class="sort-btn" (click)="sort_Status_Dsc()">
      Sort Status DSC 👇🏾
    </button>
    <button class="sort-btn" (click)="sort_By_Date()">Sort by date 📅</button>
  </div>
  <h1 *ngIf="tasks.length <= 0">No Tasks!</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Slno.</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Deadline</th>
        <th scope="col">Prority</th>
        <th scope="col">Task Taken by</th>
        <th scope="col">Status</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <th>{{ task!.id }}</th>
        <td>{{ task!.id }}</td>
        <td>{{ task!.title }}</td>
        <td>{{ task!.description }}</td>
        <td>{{ task!.dueDate }}</td>
        <ng-template [ngIf]="task!.priority == 1">
          <td class="low" style="background-color: green">low</td>
        </ng-template>

        <ng-template [ngIf]="task!.priority == 2">
          <td class="medium" style="background-color: yellow">medium</td>
        </ng-template>
        <ng-template [ngIf]="task!.priority == 3">
          <td class="high" style="background-color: red">high</td>
        </ng-template>
        <td>{{ task!.takenBy }}</td>
        <ng-template [ngIf]="task?.status == 1 ">
          <div  style="background-color: rgb(224, 74, 74)">
            to-do
          </div>
        </ng-template>
        <ng-template [ngIf]="task?.status == 2">
          <div  style="background-color: rgb(56, 85, 202)">
            in-progress
          </div>
        </ng-template>
        <ng-template [ngIf]="task?.status == 3">
          <div style="background-color: rgb(48, 198, 48)">
            completed
          </div>
        </ng-template>

        <td><button (click)="deleteTask(task)">🗑️</button></td>
      </tr>
    </tbody>
  </table>

  <button
    class="download"
    mat-raised-button
    color="warn"
    (click)="downloadCsv()"
  >
    🖹 Download CSV 📩
  </button>
</div>
